# Ignore files larger than 100MB
find . -type f -size +100M | sed 's|^\./||' >> .gitignore

# Build output
dist/
dist/win-unpacked/

node_modules/

# Logs
*.log



# OS-specific files
.DS_Store
Thumbs.db

# Executables
*.exe
